<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Microfrontends</title>
  </head>
  <body>
    <iframe frameBorder="0" width="100%" height="200" src="http://localhost:3001"></iframe>
    <iframe frameBorder="0" width="100%" height="250" src="http://localhost:3002"></iframe>
    <iframe frameBorder="0" width="100%" height="200" src="http://localhost:3003"></iframe>
  </body>
</html>